body {
  font-family: Roboto, Arial, sans-serif;
  background-size: 100%;
  color: black;
  padding-bottom:50px;
}


/*After Market*/
.panel.panel-padded{
  padding: 10px 20px;
}

.panel.panel-pushed-down {
  margin-top:30px;
}

.panel h1 {
  text-align: center;
}

.panel button.btn {
  margin: 0 auto;
  display: block; 
}

.btn.btn-black {
  color: white;
  background-color: black;
}

.navbar-collapse.collapse {
display: block!important;
}
