<div class="col-md-12">
  <div class="panel panel-default panel-padded panel-pushed-down">
    <h1>PC Hobby - {{partsCtrl.build}}</h1>
    <!-- <h1>PC Hobby</h1> -->
    <div ng-repeat="type in partsCtrl.serverData.computers" ng-show="type.type === partsCtrl.build">
      <div ng-repeat="build in type.builds">
        <h2>{{build.grade}}</h2>
        <table>
          <tr>
            <th>Part Type</th>
            <th>Part Name</th>
            <th>Picture</th>
            <th>Price</th>
            <th>Link</th>
          </tr>
          <tr ng-repeat="part in build.parts">
            <td>{{part.component}}</td>
            <td>{{part.name}}</td>
            <td><img ng-src="{{part.imgUrl}}"></td>
            <td>{{part.price}}</td>
            <td><a ng-href="{{part.purchaseLink}}" target="_blank" class="btn">Buy</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{partsCtrl.getBuildPrice(build)}}</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
