 <!--<div id="message">-->
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default panel-padded panel-pushed-down">
      <h1>Welcome to PC Hobby</h1>
      <p>What are your hobbies?</p>
      <!-- <p>{{pcCtrl.answer}}</p> -->
      <p id="demo"></p>
        <form>
          <div ng-repeat="hobby in pcCtrl.hobbies">
            <input type="radio" ng-model="pcCtrl.answer" value="{{hobby.value}}"> {{hobby.label}}<br>
          </div>
          <button class="btn btn-black" ng-click="pcCtrl.submitAnswer(pcCtrl.answer)">Build a PC</button>
        </form>
    </div>
</div>